body {
  font-family: "Quattrocento";
  color: #ffffff;
}
.pengalih{
  color: transparent;
}
a {
  color: #1995ad;
  text-decoration: none;
  margin: auto;
}

a:hover {
  color: #A1d6e2;
  text-decoration: none;
}

h1, h3, h4, h5, h6 {
  font-family: "Archivo";
}

.container h2{
  font-family: "Quattrocento";
  text-align: center;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 97.5vh;
  background: #a1d6e2;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 70px;
  font-weight: 800;
  line-height: 56px;
  color: rgb(0, 0, 0);
  letter-spacing: 10px;
  font-weight: 900;
}

#hero h2 {
  color: rgba(0, 0, 0, 0.799);
  margin-bottom: 50px;
  margin-right: 25%;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 900;
}

#hero .btn-get-started {
  font-family: "Quattrocento";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: rgb(0, 0, 0);
  background: #1995ad;
  font-weight: 800;
  border: 1px solid;
}

#hero .btn-get-started:hover {
  background: #A1d6e2;
  letter-spacing: 5px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 15px;
  background: #1995ad;
}

#footer .footer-bottom {
  color: #fff;
}

#footer .copyright {
  float: center;
  margin-left: 35%;
}
