body{
    margin-top: 20px;
    font-family: "Archivo";
    background-color: #1995ad;;
}
h1{
    font-size: 55px;
    letter-spacing: 5px;
}
h2{
    font-family: "Quattrocento";
    font-size: 30px;
    letter-spacing: 2px;
}
h3{
    font-family: "Quattrocento";
    font-size: 20px;
    letter-spacing: 2px;
    margin-left: 15%;
}
.btn{
    width: 15%;
    padding: 10px;
    margin-top: 15px;
    background-color: #1995ad;
    font-size: 25px;
    border-radius: 50px;
  }
  .btn:hover{
    background-color: #A1D6E2;
  }
  ion-icon{
    font-size: 25px;
  }