body {
  font-family: "Poiret One";
  color: #444444;
}
.pengalih{
  color: transparent;
}
a {
  color: #47b2e4;
  text-decoration: none;
  margin: auto;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1, h3, h4, h5, h6 {
  font-family: "Archivo";
}

h2{
  font-family: "Poiret One";
  text-align: center;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 60px;
  font-weight: 800;
  line-height: 56px;
  color: #fff;
  letter-spacing: 10px;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.799);
  margin-bottom: 50px;
  font-size: 30px;
  letter-spacing: 5px;
}

#hero .btn-get-started {
  font-family: "Poiret One";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: rgb(255, 255, 255);
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #1b8abd;
  letter-spacing: 5px;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  margin-top: 5px;
  font-size: 15px;
  background: #1995ad;
}
#footer .footer-bottom{
  padding-bottom: 20px;
}
#footer .copyright {
  margin-left: 40%;
}