.wrapper {
  margin-left: 5%;
  width: 90%;
  background-color: #F1f1f2;
}
.form{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
}
  
#jmlhBarang{
  margin-left: 30px;
  width: 35%;
}

.btn{
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #1995ad;
  font-size: 20px;
  border-radius: 50px;
}
.btn:hover{
  background-color: #A1D6E2;
}
.untuk-tambah{
  text-align: center;
}

body {
  font-family: "Quattrocento";
  font-size: 20px;
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
} 

h2,h3,h5,h6 {
  font-family: "Archivo";
}

.card-body {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #F1f1f2;
}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  font-family: "Archivo";
  font-size: 35px;
}

#footer {
  font-size: 15px;
  background: #1995ad;
  margin-top: 125px;
}
#footer .footer-bottom{
  padding-bottom: 15px;
}
#footer .copyright {
  margin-left: 40%;
}

body{
  font-family: "Quattrocento", sans-serif;
  color: #000000;
  font-size: 20px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


#main {
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: 80px;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0px;
  width: 400px;
  height: 100%;
  background: #A1D6E2;
  transition: all 0.5s ease;
}

.sidebar .top .hi-top{
  margin-top: 20px;
  text-align: center;
}

.sidebar .top {
  font-size: 22px;
  text-align: center;
  line-height: 70px;
  background-color: #1995ad;
}
.sidebar .bottom {
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 100px;
 
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 25px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(6, 255, 251, 0.1);
  border-bottom: 1px solid rgba(125, 134, 146, 0.302);
  transition: all 0.5s ease;
  background: #A1D6E2;
  font-weight: 900; 
}

ul li:hover a {
  background: #1995ad;
  color: rgb(0, 0, 0);
}

.sidebar ul a i {
  margin-right: 16px;
}


#check {
  display: none;
}

#btn {
  position: fixed;
  cursor: pointer;
  background:#ffffff;
  border-radius: 3px;
}
#btnclose {
  position: fixed;
  cursor: pointer;
  background: #ffffff;
  border-radius: 3px;
}


#btn {
  z-index: 1111;
  left: 20px; 
  top: 30px;
  font-size: 20px;
  color: #000000;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#btnclose {
  z-index: 1111; 
  left: 20px;
  top: 30px;  
  font-size: 20px;
  color: #000000;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-item {
  padding: 5px;
  font-size: 20px;
}
#idKasir{
  margin-left: 5%;
  margin-right: 50px;
}
#nmKasir{
  position: relative;
  margin-left: 5%;
  margin-right: 13px;
}

#idTrans{
  margin-right: 5%;
}

/* pop up */
.id-transaksi{
  border-bottom: 1px solid;
  margin-bottom: 5%;
}
#id-trans{
  font-size: 15px;
}
#trans-id{
  width: 15%;
  height: 25px;
}
#trans-wkt{
  font-size: 15px;
  margin-left: 10px;
}
#waktu-trans{
  width: 35%;
  height: 25px;
}

.view-transaksi{
  margin-bottom: 10px;
}
#total-harga{
  font-size: 20px;
}
#harga-total{
  width: 30%;
  height: 30%;
}
#diskon-label{
  font-size: 20px;
}
#diskon-input{
  width: 20%;
  height: 30%;
}
.proses-transaksi{
  margin-bottom: 5%;
}
#uangMasuk{
  width: 73%;
}

.btn-pop-up-konfir{
  width: 40%;
  margin-left: 30%;
  border-radius: 50px;
  height: 50px;
  background-color: #1995ad;
  color: #000000;
}
.btn-pop-up-konfir:hover{
  background-color: #A1D6E2;
  color: #000000;
}
.btn-pop-up-batal{
  border-radius: 50px;
  height: 50px;
  width: 20%;
}
.btn-pop-up-batal:hover{
  background-color: #FF482C;
}
.modal-title{
  margin-left: 0;
  font-family: "Archivo";
  font-weight: bold;
}

.titel{
  height: 5ch;
  font-stretch: ultra-condensed;
  margin-left: auto;
  background-color: #1995ad;
}
.titel-tulis{
  font-size: 50px;
  text-align: center;
}
#kd-brng{
  margin-left: 5%;
  margin-right: 50px;
}
#nm-brng{
  margin-right: 20px;
}
#hrg-satuan{
  margin-right: 20px;
}

#jmlh-brng{
  margin-left: 5%;
  margin-right: 32px;
}
#stok-barang{
  margin-right: 32px;
}

.tombol-hapus{
  border: 0cm;
  color: #1995ad;
  font-size: 30px;
  margin-right: 5px;
}
.tombol-edit{
  border: 0cm;
  color: #1995ad;
  font-size: 30px;
  margin-left: 10px;
  margin-top: auto;
}
.alert{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.tombol-keluar{
  margin-left: 25%;
  margin-top: 10%;
  border: 1px solid;
  width: 30%;
  border-radius: 50px;
  height: 50px;
  background-color: #1995ad;
  color: #000000;
}
.tombol-keluar:hover{
  background-color: #A1D6E2;
  color: #000000;
} 
.Bar{
  height: 250px;
  overflow-y: auto;
}

.tabelScroll{
  display: block;
}
